#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False
users:
  - name: henrydelgadillo
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDe/KnuFKANv1r9gHTV8qF3S2NzcnJnHfLeiDox10Xw+BGi1mCccm1dUbCZDSf6MWq0o+87Ux+fAstmnTt+C2h+N7i0DbLF6zgkZHhdg2uUvvGIJRHqTPP+FWt38rsWxjVupZZrfSu06rVpOf00DxUxE0Rte8o3+V328vls/ZPlnFhQaVVVOQCHZsFUUVoPNEf/T8razYNHvmzWMB5qwhq3eET44sqsgBSdz1qN1GBtCqdKngmj1bC9b+N7NJPnMZrkoDbY8m0B2sba9wjFFXfqhWMlRFyXsUJ9vR1kekqgARUYVJadEfty/YyG8jY44znZTgF3SRvg0B6S5FWoWTN5 henrydelgadillo@henry-HP-Pavilion-Laptop-15-cd0xx
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
